.details {
  display: grid;
  overflow-y: scroll;
  grid-template-areas: 'details__settings' 'details__forecast' 'details__highlights';
}
@media (max-width: 767px) {
  .details {
    padding-top: 15px;
    height: 100%;
    overflow: visible;
  }
}
.details__settings {
  grid-area: details__settings;
}
.details__forecast {
  grid-area: details__forecast;
}
.details__highlights {
  grid-area: details__highlights;
}
.forecast {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: clamp(15px, 1vw, 10vw);
  row-gap: clamp(10px, 1vw, 10vw);
}
@media (max-width: 1624px) {
  .forecast {
    margin-top: 15px;
  }
}
