.main {
  padding: 5% 0;
  display: grid;
  height: fit-content;
  grid-template-areas: 'main__search main__search' 'main__weather-image--main main__weather-image--main' 'main__temperature main__temperature' 'main__date main__date' 'main__cloudiness main__cloudiness' 'main__precipitation main__precipitation' 'main__location main__location';
  transition: 1s;
  align-items: center;
}
.main > * {
  position: relative;
  text-align: left;
  margin-top: 12px;
  padding-left: 15%;
}
@media (max-width: 767px) {
  .main {
    padding: 10px 0;
    height: calc(100vh - 20px);
    min-height: 600px;
    max-height: 1000px;
  }
}
@media (max-width: 767px) and (max-height: 100vw) {
  .main {
    height: fit-content;
  }
}
.main__search {
  grid-area: main__search;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .main__search {
    font-size: calc(16px + 6.8 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .main__search {
    font-size: calc(16px + 4 * 100vw / 1920);
  }
}
@media (min-width: 3000px) {
  .main__search {
    font-size: calc(16px + 8.4 * (100vw - 320px) / 1920);
  }
}
.main__weather-image--main {
  grid-area: main__weather-image--main;
  text-align: center;
  padding-left: 0;
}
.main__weather-image--main img {
  aspect-ratio: 6/5;
  object-fit: cover;
}
@media (max-width: 768px) {
  .main__weather-image--main img {
    width: calc(250px + 204 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .main__weather-image--main img {
    width: calc(250px + 120 * 100vw / 1920);
  }
}
@media (min-width: 3000px) {
  .main__weather-image--main img {
    width: calc(250px + 228 * (100vw - 320px) / 1920);
  }
}
.main__temperature {
  grid-area: main__temperature;
  font-weight: 200;
}
@media (max-width: 768px) {
  .main__temperature--value {
    font-size: calc(64px + 54.4 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .main__temperature--value {
    font-size: calc(64px + 32 * 100vw / 1920);
  }
}
@media (min-width: 3000px) {
  .main__temperature--value {
    font-size: calc(64px + 67.2 * (100vw - 320px) / 1920);
  }
}
.main__temperature--sign {
  font-size: calc((64px + (96 - 64) * (100vw - 320px) / (1920 - 320)) * 0.8);
}
.main__date {
  grid-area: main__date;
}
@media (max-width: 768px) {
  .main__date {
    font-size: calc(21px + 11.9 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .main__date {
    font-size: calc(21px + 7 * 100vw / 1920);
  }
}
@media (min-width: 3000px) {
  .main__date {
    font-size: calc(21px + 14.7 * (100vw - 320px) / 1920);
  }
}
.main__date--time {
  color: #888888;
}
.main__date--full-date {
  display: block;
}
@media (max-width: 768px) {
  .main__date--full-date {
    font-size: calc(16px + 6.8 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .main__date--full-date {
    font-size: calc(16px + 4 * 100vw / 1920);
  }
}
@media (min-width: 3000px) {
  .main__date--full-date {
    font-size: calc(16px + 8.4 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 6000px) and (max-width: 768px) {
  .main__date--full-date {
    font-size: calc(20px + 8.5 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 6000px) and (min-width: 768px) {
  .main__date--full-date {
    font-size: calc(20px + 5 * 100vw / 1920);
  }
}
@media (min-width: 6000px) and (min-width: 3000px) {
  .main__date--full-date {
    font-size: calc(20px + 10.5 * (100vw - 320px) / 1920);
  }
}
.main__cloudiness {
  grid-area: main__cloudiness;
}
.main__precipitation {
  grid-area: main__precipitation;
}
.main__cloudiness,
.main__precipitation {
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .main__cloudiness,
  .main__precipitation {
    font-size: calc(16px + 6.8 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .main__cloudiness,
  .main__precipitation {
    font-size: calc(16px + 4 * 100vw / 1920);
  }
}
@media (min-width: 3000px) {
  .main__cloudiness,
  .main__precipitation {
    font-size: calc(16px + 8.4 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 6700px) and (max-width: 768px) {
  .main__cloudiness,
  .main__precipitation {
    font-size: calc(20px + 8.5 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 6700px) and (min-width: 768px) {
  .main__cloudiness,
  .main__precipitation {
    font-size: calc(20px + 5 * 100vw / 1920);
  }
}
@media (min-width: 6700px) and (min-width: 3000px) {
  .main__cloudiness,
  .main__precipitation {
    font-size: calc(20px + 10.5 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 768px) {
  .main__cloudiness--icon,
  .main__precipitation--icon {
    width: calc(40px + 17 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .main__cloudiness--icon,
  .main__precipitation--icon {
    width: calc(40px + 10 * 100vw / 1920);
  }
}
@media (min-width: 3000px) {
  .main__cloudiness--icon,
  .main__precipitation--icon {
    width: calc(40px + 19 * (100vw - 320px) / 1920);
  }
}
.main__location {
  grid-area: main__location;
  font-weight: 500;
  margin: 0%;
  padding: 10%;
  text-align: center;
}
@media (max-width: 768px) {
  .main__location {
    font-size: calc(21px + 11.9 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .main__location {
    font-size: calc(21px + 7 * 100vw / 1920);
  }
}
@media (min-width: 3000px) {
  .main__location {
    font-size: calc(21px + 14.7 * (100vw - 320px) / 1920);
  }
}
