.uppercase {
  text-transform: uppercase;
}
.btn {
  display: inline-block;
  background: transparent;
  font: inherit;
  border: 0;
  transition: all 200ms ease-in;
  cursor: pointer;
}
.btn--primary {
  background: #17BEBB;
  color: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 0.1vw;
  padding: 6px 18px;
}
.btn--primary:hover {
  background: #15aca9;
}
.btn--primary:active {
  background: #17BEBB;
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}
.btn--inside {
  margin-left: -56px;
}
.seacrh-form__field {
  background: #fff;
  color: #444;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5);
  border: 0;
  outline: 0;
  padding: 12px 80px 12px 8px;
  transition: 0.5s;
}
@media (max-width: 768px) {
  .seacrh-form__field {
    width: calc(80px + 170 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .seacrh-form__field {
    width: calc(80px + 100 * 100vw / 1920);
  }
}
@media (min-width: 3000px) {
  .seacrh-form__field {
    width: calc(80px + 190 * (100vw - 320px) / 1920);
    padding: calc(12px + 5.7 * (100vw - 320px) / 1920);
  }
}
@media all and (max-width: 767px) and (max-width: 768px) {
  .seacrh-form__field {
    width: calc(150px + 1105 * (100vw - 320px) / 1920);
  }
}
@media all and (max-width: 767px) and (min-width: 768px) {
  .seacrh-form__field {
    width: calc(150px + 650 * 100vw / 1920);
  }
}
@media all and (max-width: 767px) and (min-width: 3000px) {
  .seacrh-form__field {
    width: calc(150px + 1235 * (100vw - 320px) / 1920);
    padding: calc(12px + 45.6 * (100vw - 320px) / 1920);
  }
}
