.details__summit {
  position: relative;
  height: 100%;
}
@media (max-width: 768px) {
  .details__summit .summit-header {
    font-size: calc(16px + 6.8 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .details__summit .summit-header {
    font-size: calc(16px + 4 * 100vw / 1920);
  }
}
@media (min-width: 3000px) {
  .details__summit .summit-header {
    font-size: calc(16px + 8.4 * (100vw - 320px) / 1920);
  }
}
.details__summit p {
  margin: 0;
  text-align: left;
}
@media (max-width: 768px) {
  .details__summit p {
    margin-left: calc(15px + 8.5 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .details__summit p {
    margin-left: calc(15px + 5 * 100vw / 1920);
  }
}
@media (min-width: 3000px) {
  .details__summit p {
    margin-left: calc(15px + 9.5 * (100vw - 320px) / 1920);
  }
}
.summit {
  height: 90%;
  margin: 0px 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'TodaysDetails_weather TodaysDetails_wind TodaysDetails_humidity' 'TodaysDetails_pressure TodaysDetails_visibility TodaysDetails_sun';
}
@media (max-width: 1100px) {
  .summit {
    grid-template-areas: 'TodaysDetails_weather TodaysDetails_wind' 'TodaysDetails_humidity TodaysDetails_pressure' 'TodaysDetails_visibility TodaysDetails_sun';
    margin: 0px 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}
@media (max-width: 500px) {
  .summit {
    grid-template-areas: 'TodaysDetails_weather' 'TodaysDetails_wind' 'TodaysDetails_humidity' 'TodaysDetails_pressure' 'TodaysDetails_visibility' 'TodaysDetails_sun';
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
}
.summit-card {
  margin: 5px 10px;
  padding-top: 15px;
  border-radius: 15px;
  box-shadow: 0 0 7px 2px #ddd;
  min-height: 120px;
}
.summit-card .summit-card__name {
  color: #888888;
}
@media (max-width: 768px) {
  .summit-card .summit-card__name {
    font-size: calc(16px + 6.8 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .summit-card .summit-card__name {
    font-size: calc(16px + 4 * 100vw / 1920);
  }
}
@media (min-width: 3000px) {
  .summit-card .summit-card__name {
    font-size: calc(16px + 8.4 * (100vw - 320px) / 1920);
  }
}
.summit-card .summit-card__name svg {
  color: #aeaeae;
}
@media (max-width: 768px) {
  .summit-card .summit-card__name svg {
    font-size: calc(16px + 6.8 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .summit-card .summit-card__name svg {
    font-size: calc(16px + 4 * 100vw / 1920);
  }
}
@media (min-width: 3000px) {
  .summit-card .summit-card__name svg {
    font-size: calc(16px + 8.4 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 1920px) {
  .summit-card {
    padding-top: 0.8vw;
    border-radius: 0.8vw;
  }
}
.summit-weather {
  grid-area: TodaysDetails_weather;
}
@media (max-width: 768px) {
  .summit-weather .summit-weather__value {
    font-size: calc(21px + 11.9 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .summit-weather .summit-weather__value {
    font-size: calc(21px + 7 * 100vw / 1920);
  }
}
@media (min-width: 3000px) {
  .summit-weather .summit-weather__value {
    font-size: calc(21px + 14.7 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 768px) {
  .summit-weather .summit-weather__sign {
    font-size: calc(16.8px + 9.52 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .summit-weather .summit-weather__sign {
    font-size: calc(16.8px + 5.6 * 100vw / 1920);
  }
}
@media (min-width: 3000px) {
  .summit-weather .summit-weather__sign {
    font-size: calc(16.8px + 11.76 * (100vw - 320px) / 1920);
  }
}
.summit-wind {
  grid-area: TodaysDetails_wind;
}
@media (max-width: 768px) {
  .summit-wind .summit-wind__speed {
    font-size: calc(21px + 11.9 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .summit-wind .summit-wind__speed {
    font-size: calc(21px + 7 * 100vw / 1920);
  }
}
@media (min-width: 3000px) {
  .summit-wind .summit-wind__speed {
    font-size: calc(21px + 14.7 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 768px) {
  .summit-wind .summit-wind__gust {
    font-size: calc(16px + 6.8 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .summit-wind .summit-wind__gust {
    font-size: calc(16px + 4 * 100vw / 1920);
  }
}
@media (min-width: 3000px) {
  .summit-wind .summit-wind__gust {
    font-size: calc(16px + 8.4 * (100vw - 320px) / 1920);
  }
}
.summit-wind .summit-wind__degree {
  position: relative;
  margin-top: 20px;
}
@media (min-width: 1920px) {
  .summit-wind .summit-wind__degree {
    margin-top: 1vw;
  }
}
@media (max-width: 768px) {
  .summit-wind .summit-wind__degree {
    font-size: calc(16px + 6.8 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .summit-wind .summit-wind__degree {
    font-size: calc(16px + 4 * 100vw / 1920);
  }
}
@media (min-width: 3000px) {
  .summit-wind .summit-wind__degree {
    font-size: calc(16px + 8.4 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 768px) {
  .summit-wind .summit-wind__degree img {
    width: calc(20px + 17 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .summit-wind .summit-wind__degree img {
    width: calc(20px + 10 * 100vw / 1920);
  }
}
@media (min-width: 3000px) {
  .summit-wind .summit-wind__degree img {
    width: calc(20px + 19 * (100vw - 320px) / 1920);
  }
}
.summit-wind .summit-wind__degree span {
  position: absolute;
  top: 2px;
}
.summit-humidity {
  grid-area: TodaysDetails_humidity;
}
.summit-humidity .summit-humidity__level {
  position: relative;
}
@media (max-width: 768px) {
  .summit-humidity .summit-humidity__level {
    font-size: calc(21px + 11.9 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .summit-humidity .summit-humidity__level {
    font-size: calc(21px + 7 * 100vw / 1920);
  }
}
@media (min-width: 3000px) {
  .summit-humidity .summit-humidity__level {
    font-size: calc(21px + 14.7 * (100vw - 320px) / 1920);
  }
}
.summit-humidity .summit-humidity__level span {
  position: absolute;
  top: -4px;
}
@media (max-width: 768px) {
  .summit-humidity .summit-humidity__level span {
    font-size: calc(18.900000000000002px + 10.71 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .summit-humidity .summit-humidity__level span {
    font-size: calc(18.900000000000002px + 6.3 * 100vw / 1920);
  }
}
@media (min-width: 3000px) {
  .summit-humidity .summit-humidity__level span {
    font-size: calc(18.900000000000002px + 13.23 * (100vw - 320px) / 1920);
  }
}
.summit-pressure {
  grid-area: TodaysDetails_pressure;
}
@media (max-width: 768px) {
  .summit-pressure .summit-pressure__level {
    font-size: calc(21px + 11.9 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .summit-pressure .summit-pressure__level {
    font-size: calc(21px + 7 * 100vw / 1920);
  }
}
@media (min-width: 3000px) {
  .summit-pressure .summit-pressure__level {
    font-size: calc(21px + 14.7 * (100vw - 320px) / 1920);
  }
}
.summit-visibility {
  grid-area: TodaysDetails_visibility;
}
@media (max-width: 768px) {
  .summit-visibility .summit-visibility__level {
    font-size: calc(21px + 11.9 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .summit-visibility .summit-visibility__level {
    font-size: calc(21px + 7 * 100vw / 1920);
  }
}
@media (min-width: 3000px) {
  .summit-visibility .summit-visibility__level {
    font-size: calc(21px + 14.7 * (100vw - 320px) / 1920);
  }
}
@media (max-width: 768px) {
  .summit-visibility .summit-visibility__level span {
    font-size: calc(16px + 6.8 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .summit-visibility .summit-visibility__level span {
    font-size: calc(16px + 4 * 100vw / 1920);
  }
}
@media (min-width: 3000px) {
  .summit-visibility .summit-visibility__level span {
    font-size: calc(16px + 8.4 * (100vw - 320px) / 1920);
  }
}
.summit-sun {
  grid-area: TodaysDetails_sun;
}
.summit-sun .summit-sun__action {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .summit-sun .summit-sun__action img {
    width: calc(35px + 25.5 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .summit-sun .summit-sun__action img {
    width: calc(35px + 15 * 100vw / 1920);
  }
}
@media (min-width: 3000px) {
  .summit-sun .summit-sun__action img {
    width: calc(35px + 28.5 * (100vw - 320px) / 1920);
  }
}
.summit-sun .summit-sun__action span {
  margin-left: 1vw;
  font-weight: 300;
}
@media (max-width: 768px) {
  .summit-sun .summit-sun__action span {
    font-size: calc(21px + 11.9 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .summit-sun .summit-sun__action span {
    font-size: calc(21px + 7 * 100vw / 1920);
  }
}
@media (min-width: 3000px) {
  .summit-sun .summit-sun__action span {
    font-size: calc(21px + 14.7 * (100vw - 320px) / 1920);
  }
}
.summit-visibility .summit-visibility__description,
.summit-visibility .summit-pressure__description,
.summit-visibility .summit-humidity__description,
.summit-visibility .summit-weather__description,
.summit-pressure .summit-visibility__description,
.summit-pressure .summit-pressure__description,
.summit-pressure .summit-humidity__description,
.summit-pressure .summit-weather__description,
.summit-humidity .summit-visibility__description,
.summit-humidity .summit-pressure__description,
.summit-humidity .summit-humidity__description,
.summit-humidity .summit-weather__description,
.summit-weather .summit-visibility__description,
.summit-weather .summit-pressure__description,
.summit-weather .summit-humidity__description,
.summit-weather .summit-weather__description {
  margin-top: 20px;
}
@media (max-width: 768px) {
  .summit-visibility .summit-visibility__description,
  .summit-visibility .summit-pressure__description,
  .summit-visibility .summit-humidity__description,
  .summit-visibility .summit-weather__description,
  .summit-pressure .summit-visibility__description,
  .summit-pressure .summit-pressure__description,
  .summit-pressure .summit-humidity__description,
  .summit-pressure .summit-weather__description,
  .summit-humidity .summit-visibility__description,
  .summit-humidity .summit-pressure__description,
  .summit-humidity .summit-humidity__description,
  .summit-humidity .summit-weather__description,
  .summit-weather .summit-visibility__description,
  .summit-weather .summit-pressure__description,
  .summit-weather .summit-humidity__description,
  .summit-weather .summit-weather__description {
    font-size: calc(16px + 6.8 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .summit-visibility .summit-visibility__description,
  .summit-visibility .summit-pressure__description,
  .summit-visibility .summit-humidity__description,
  .summit-visibility .summit-weather__description,
  .summit-pressure .summit-visibility__description,
  .summit-pressure .summit-pressure__description,
  .summit-pressure .summit-humidity__description,
  .summit-pressure .summit-weather__description,
  .summit-humidity .summit-visibility__description,
  .summit-humidity .summit-pressure__description,
  .summit-humidity .summit-humidity__description,
  .summit-humidity .summit-weather__description,
  .summit-weather .summit-visibility__description,
  .summit-weather .summit-pressure__description,
  .summit-weather .summit-humidity__description,
  .summit-weather .summit-weather__description {
    font-size: calc(16px + 4 * 100vw / 1920);
  }
}
@media (min-width: 3000px) {
  .summit-visibility .summit-visibility__description,
  .summit-visibility .summit-pressure__description,
  .summit-visibility .summit-humidity__description,
  .summit-visibility .summit-weather__description,
  .summit-pressure .summit-visibility__description,
  .summit-pressure .summit-pressure__description,
  .summit-pressure .summit-humidity__description,
  .summit-pressure .summit-weather__description,
  .summit-humidity .summit-visibility__description,
  .summit-humidity .summit-pressure__description,
  .summit-humidity .summit-humidity__description,
  .summit-humidity .summit-weather__description,
  .summit-weather .summit-visibility__description,
  .summit-weather .summit-pressure__description,
  .summit-weather .summit-humidity__description,
  .summit-weather .summit-weather__description {
    font-size: calc(16px + 8.4 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 1920px) {
  .summit-visibility .summit-visibility__description,
  .summit-visibility .summit-pressure__description,
  .summit-visibility .summit-humidity__description,
  .summit-visibility .summit-weather__description,
  .summit-pressure .summit-visibility__description,
  .summit-pressure .summit-pressure__description,
  .summit-pressure .summit-humidity__description,
  .summit-pressure .summit-weather__description,
  .summit-humidity .summit-visibility__description,
  .summit-humidity .summit-pressure__description,
  .summit-humidity .summit-humidity__description,
  .summit-humidity .summit-weather__description,
  .summit-weather .summit-visibility__description,
  .summit-weather .summit-pressure__description,
  .summit-weather .summit-humidity__description,
  .summit-weather .summit-weather__description {
    margin-top: 1vw;
  }
}
