.hints-list__item {
  padding: 12px 60px 12px 28px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .hints-list__item {
    width: calc(80px + 170 * (100vw - 320px) / 1920);
  }
}
@media (min-width: 768px) {
  .hints-list__item {
    width: calc(80px + 100 * 100vw / 1920);
  }
}
@media (min-width: 3000px) {
  .hints-list__item {
    width: calc(80px + 190 * (100vw - 320px) / 1920);
    padding: calc(12px + 5.7 * (100vw - 320px) / 1920);
  }
}
.hints-list__item:hover {
  background-color: #f2f2f2;
}
@media all and (max-width: 767px) and (max-width: 768px) {
  .hints-list__item {
    width: calc(150px + 1105 * (100vw - 320px) / 1920);
  }
}
@media all and (max-width: 767px) and (min-width: 768px) {
  .hints-list__item {
    width: calc(150px + 650 * 100vw / 1920);
  }
}
@media all and (max-width: 767px) and (min-width: 3000px) {
  .hints-list__item {
    width: calc(150px + 1235 * (100vw - 320px) / 1920);
    padding: calc(12px + 45.6 * (100vw - 320px) / 1920);
  }
}
.seacrh-form__hints-list {
  position: absolute;
  z-index: 3;
  background-color: #fff;
  list-style-type: none;
  padding-left: 0;
  text-align: left;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  margin-top: 3px;
}
